<h2>Thank you, @ViewBag.CustomerName!</h2>
<p>Your order has been placed successfully !!</p>

<p><strong>Delivery Address:</strong> @ViewBag.Address</p>

<a asp-controller="Items" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
